body{
	background-image: url(https://i.pinimg.com/originals/2f/d2/8a/2fd28a4c97689c7e05abe11bf5fba843.jpg);
	/*opacity:0.6;*/
	background-size: cover;
	background-blend-mode: lighten;
	background-attachment: fixed;
	margin: 0px;
}
#title{
	font-family: sans-serif;
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: center;
}
#favorite-items{
	
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	 margin:4rem;
}
.card{
	margin :3rem;
}
.text_div{
	text-align: center;
	text-transform: uppercase;;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 100;
}
.image{
	height: 300px;
	width:250px;
	box-shadow: -1rem 0.3rem 3rem grey;
}
.button {
  background-color: #f5dede;
  border: none;
  color: black;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}